{
  "arrowParens": "avoid",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "tabWidth": 2,
  "endOfLine": "auto",
  "importOrderSeparation": true,
  "printWidth": 120
}
